<div>
ステータス: <%= @project.project_status.name %>
</div>
<div>
ニックネーム: <%= @project.owner %>
</div>
<div>
プロジェクト名: <%= @project.title %>
</div>
<div>
応援数: <%= @project.cheered_count %>
</div>
<div>
作成日: <%= @project.created_at %>
</div>
<hr>

<%= form_for(@comment, :url => {:controller=>:comments,:action=>:create}) do |f|%>
  <div>
    <%= f.label "ニックネーム" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "コメント" %>
    <%= f.text_field :comment %>
  </div>
  <%=f.hidden_field :project_id,:value =>@project.id %>
  <div>
    <%= f.submit "登録する"%>
  </div>
<% end %>


<br/>
<% @project.comments.each do |comment| %>

  <div>
    応援者: <%= comment.name %>
  </div>
  <div>
    コメント: <%= comment.comment %>
  </div>
  <hr>

<% end %>
