<%= form_for(@project, :url => {:action=>:update}) do |f|%>
    <div>
      <%= f.label "ニックネーム" %>
      <%= f.text_field :owner %>
    </div>
    <div>
      <%= f.label "タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div>
       <%= f.label "状態" %>
       <%= f.number_field :project_status_id %>
    </div>
    <div>
      <%= f.submit "登録する"%>
    </div>
<% end %>
