
<%= link_to "新規プロジェクト作成", projects_new_path %>
<hr>

<% @projects.each do |project| %>
  <div>
    ステータス: <%= project.project_status.name %>
  </div>
  <div>
    ニックネーム: <%= project.owner %>
  </div>
  <div>
    プロジェクト名: <%= project.title %>
  </div>
  <div>
    応援数: <%= project.cheered_count %>
  </div>
  <div>
    作成日: <%= project.created_at %>
  </div>
  <div>
  <%= button_to "応援する",{conroller: 'projects',action:'cheer'},{method: :get, params: {project_id: project}} %>
  </div>
  <div>
    <%= link_to "編集", edit_project_url(project.id) %>
    <%= link_to "詳細", controller: "projects", action: "detail", project_id: project.id %>
  </div>
  <hr>

<% end %>
