<div>
  <% if @current_user.present? %>
    <%= @current_user.name %> さんでログイン中
    <%= link_to 'ログアウト', sessions_destroy_path %>
  <% else %>
    <%= link_to "ログイン", sessions_new_path %>
  <% end %>
</div>

<div>
  <%= link_to "新規プロジェクト作成", projects_new_path %>
</div>
<hr>

<% @projects.each do |project| %>
  <div>
    ステータス: <%= project.project_status.name %>
  </div>
  <div>
    ニックネーム: <%= project.owner %>
  </div>
  <div>
    プロジェクト名: <%= project.title %>
  </div>
  <div>
    応援数: <%= project.cheered_count %>
  </div>
  <div>
    作成日: <%= project.created_at %>
  </div>
  <div>
    <%= button_to "応援する", {conroller: 'projects', action: 'cheer'}, {method: :get, params: {project_id: project}} %>
  </div>
  <div>
    <%= link_to "編集", edit_project_url(project.id) %>
  </div>
  <hr>

<% end %>
