<%= @current_user.name %>

<%= form_for(@project, :url => {:action=>:create}) do |f|%>
    <div>
      <%= f.label "ニックネーム" %>
      <%= f.text_field :owner, value: @current_user.name %>
    </div>
    <div>
      <%= f.label "タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.submit "登録する"%>
    </div>
<% end %>
