
 <div>
  あなたのほめポイント:<%= @home_point %>
 </div>
 <div>
   <%= link_to "新規投稿", posts_new_path %>
 </div>

<div>
  <%= link_to "戻る", posts_show_path %>
</div>
<hr>




 <% @posts.each do |post| %>

  <div>
    ニックネーム: <%=  post.user.nil? ? '名無し' : post.user.name %>
  </div>
  <div>
  プロジェクト名: <%= post.content %>
  </div>
  <div>
  いいね: <%= post.reactions.where(emotion: :like).count %>
  すごいね: <%= post.reactions.where(emotion: :sugoine).count %>
  えらいね: <%= post.reactions.where(emotion: :eraine).count %>
  超いいね: <%= post.reactions.where(emotion: :chou_iine).count %>
  神: <%= post.reactions.where(emotion: :kami).count %>
  偉業: <%= post.reactions.where(emotion: :igyou).count %>
  </div>
  <div>
    作成日: <%= post.created_at %>
  </div>



  <hr>

<% end %>

