<%= render 'layouts/header'%>
<div>あなたのほめポイント<%= @home_point %></div>
<div id="show">
  <%= link_to "+", posts_new_path, class: "post" %>
  <%= link_to "自分の投稿を見る", posts_index_path, class: 'button' %>


  <p class="success">
    <%= flash[:success] %>
  </p>


  <h1 class="content"><%= @post.content %></h1>


  <%= button_to "next post", reactions_create_path(emotion: 0, post_id: @post.id), class: 'button' %>
  <%= button_to "いいね!", reactions_create_path(emotion: 1, post_id: @post.id), class: 'button'%>
  <%= button_to "すごいね!", reactions_create_path(emotion:2, post_id: @post.id), class: 'button'%>
  <%= button_to "えらいね!", reactions_create_path(emotion: 3, post_id: @post.id), class: 'button'%>
  <% if @home_point >= 5 %>
    <%= button_to "超いいね!!!", reactions_create_path(emotion: 4, post_id: @post.id), class: 'button'%>
  <% else %>
    <%= button_to "超いいね!!!", reactions_create_path(emotion: 4, post_id: @post.id), class: 'button', disabled:true%>
  <% end %>
  <% if @home_point >= 10 %>
    <%= button_to "神!!!", reactions_create_path(emotion: 5, post_id: @post.id), class: 'button'%>
  <% else %>
    <%= button_to "神!!!", reactions_create_path(emotion: 5, post_id: @post.id), class: 'button', disabled:true%>
  <% end %>
  <% if @home_point >= 15 %>
    <%= button_to "偉業!!!", reactions_create_path(emotion: 6, post_id: @post.id), class: 'button'%>
  <% else %>
    <%= button_to "偉業!!!", reactions_create_path(emotion: 6, post_id: @post.id), class: 'button', disabled:true%>
  <% end %>
</div>
</div>