<head>
    <div><%= link_to "投稿する", posts_new_path%></div>
</head>
<body>
    <h1><%= @post.content %></h1>
    <%= link_to "next post", reactions_create_path(emotion: 0 , post_id: @post.id)%>
    <%= link_to "いいね!", reactions_create_path(emotion: 1 , post_id: @post.id)%>
</body>


<%= link_to "my post log", posts_index_path %>

