<% if signed_in? %>
  <nav class="global-header">
    <%= link_to "Yatter", posts_show_path, class: "global-header__item title" %>
    <div class="global-header__space"></div>
    <div class="global-header__item point">
      <p>
        <span class="point-text"><%= @current_user.home_point %></span><span class="ten">pt</span>
      </p>
    </div>
    <%= link_to "", posts_index_path, class: "fas fa-user user-icon" %>
    <%= link_to "", posts_new_path, class: "far fa-edit plus-icon" %>
    <%#= link_to 'ログアウト', sessions_destroy_path, class: "global-header__item" %>
  </nav>
<% else %>
  <nav class="global-header">
    <%= link_to "Yatter", posts_show_path, class: "global-header__item title" %>
    <div class="global-header__space"></div>
    <%#= link_to 'ログアウト', sessions_destroy_path, class: "global-header__item" %>
  </nav>
<% end %>